{% extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body" style="text-align: center">
            <p>CHAT - {{chat.Name}} # Host - {{chat.Host}}</p>
        </div>
        <div class="card card-body">
            <form method="POST">
                {% csrf_token %}
                {{ message_form }}
                <input class="btn btn-info" type="submit" name="Submit">
            </form>
        </div>
        <div class="card card-body" style="height:400px;overflow:auto">
            <div id="chat_hist">
                {% for msg in messages %}
                    {{msg.PrintMessage}}<br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
    setInterval(function() {
    $('#chat_hist').load('/chat/{{chat.id}}/ #chat_hist');
    }, 10000);
</script>

{% endblock %}